.adressContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding-bottom: 30px;
}

.adressContainer h2, h3{
    font-size: 28px;
}

.adress a{
    color: inherit;
    text-decoration: none;
}

.adress h2{
    margin: 0;
}

.planity a{
    font-size: 20px;
    text-decoration: none;
    color: #f3f1e4;
    border: 1px solid #494844;
    padding: 5px;
    border-radius: 25px;
    background-color: #494844;
    padding: 10px 50px;
    cursor: pointer;
    box-shadow: 5px 5px 10px 5px #494844;
}

@media only screen and (max-width : 800px){
    .adressContainer h2, h3{
        font-size: 20px;
    }
}