.horairesContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
    text-align: center;
}

.horairesContainer h2{
    margin: 0px;
}

.week{
    margin: 30px auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    text-align: center;
}

.horairesContainer h2{
    background-color: #3C6E71;
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    padding: 0px 50px;
    color: #f3f1e4;
    font-size: 24px;
    font-weight: 400;
}

.day{
    padding: 10px 50px;
    border-top: 2px solid #3C6E71;
    font-size: 24px;
    font-weight: 800;
    min-width: 170px;
}

@media only screen and (max-width : 800px){
    .day{
        font-size: 18px;
    }
}
