footer{
    display: flex;
    justify-content: space-around;
    height: 100px;
    font-size: 20px;
    color: #3C6E71;
    border-top: 5px solid #3C6E71;
    margin-top: 50px;
}

.mention{
    margin: auto 0;
}

.contact{
    margin: auto 0;
}