.costContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    font-size: 24px;
}

.coupeList, .barbeList{
    list-style-type: none;
    padding: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: fit-content;
    font-weight: 400;
}

.costContainer h2{
    background-color: var(--main);
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    padding: 0px 50px;
    color: var(--secondary);
    font-size: 24px;
    font-weight: 400;
}

.costContainer h3{
    margin: 30px 0px;
    font-size: 24px;
}

.coupe, .barbe{
    padding: 10px 50px;
    border-top: 2px solid var(--main);
    min-width: 170px;
}

@media only screen and (max-width : 800px) {
    .costContainer{
        font-size: 18px;
    }    
}

@media only screen and (min-width : 900px){
    .costContainer{
        width: fit-content;
        padding: 0;
    }

    .coupeList{
        flex-direction: column;
        
    }

    .barbeList{
        flex-direction: column;
    }

    .costContainer h2{
        margin: 30px auto;
        font-size: 32px;
    }

    .tarifCategorie{
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .coupeContainer{
        margin-bottom: 50px;
    }

    .coupeContainer, .barbeContainer {
        background: rgba(225, 229, 242, 0.18);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(2, 43, 58, 0.3);
        backdrop-filter: blur(1.6px);
        -webkit-backdrop-filter: blur(1.6px);
        border: 1px solid rgba(225, 229, 242, 0.34);
    }

    .barbe, .coupe{
        border: none;
    }

    .coupeContainer h3, .barbeContainer h3{
       font-weight: 800;
    }

}