.costContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    font-size: 24px;
}

.coupeList{
    list-style-type: none;
    padding: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: fit-content;
    font-weight: 800;
}

.barbeList{
    list-style-type: none;
    padding: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: fit-content;
    font-weight: 800;
    flex-wrap: wrap;
}

.costContainer h2{
    background-color: #3C6E71;
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    padding: 0px 50px;
    color: #f3f1e4;
    font-size: 24px;
    font-weight: 400;
}

.costContainer h3{
    margin: 30px 0px;
    font-size: 24px;
}

.coupe{
    padding: 10px 50px;
    border-top: 2px solid #3C6E71;
    min-width: 170px;
}

.barbe{
    padding: 10px 50px;
    border-top: 2px solid #3C6E71;
    min-width: 170px;
}

.tarifCategorie{
    padding-bottom: 50px;
}

@media only screen and (max-width : 800px) {
    .costContainer{
        font-size: 18px;
    }    
}